@{
    ViewData["Title"] = "Home Page";
}
    
<div class="container">

    <div class="row text-center">
        <div class="col-md-3">
            <h2>Application uses</h2>
        </div>

    </div>
</div>
